<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>changed</key>
	<dict>
		<key>contactEmailRot13</key>
		<string>jzjbys@culfvpf.hpfo.rqh</string>
		<key>contactName</key>
		<string>Bill Wolf</string>
		<key>description</key>
		<string>Basic tools for lookup and auto-completion in writing inlists and code for 
Modules for Experiments in Stellar Astrophsics (MESA).</string>
	</dict>
	<key>isDelta</key>
	<true/>
	<key>uuid</key>
	<string>10C8F20E-311E-4EB0-BEF1-BAF3C003DAC3</string>
</dict>
</plist>
